<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> for looping using jinja operational tags</h1>
    <h1>name of the hero</h1>
    <h3> {{name}}</h3>
    
    <h1>hobbies of the {{name}}</h1>
    {% for h in hobbies %}
       <h1> {{h}} </h1>
    {% endfor %}
    {% for m in movies %}
    <h2> the movies are {{m}} </h2>
    {% endfor %}
    <a href ="{% url 'pk' %}" <h1> click here for pawankalyan information</h1></a>




</body>
</html>